{% extends "base.html" %}

{%block title%} DemoAPI {%endblock%}

{% block micontenido %}

<div class="card text-center">

  <div class="card-body">
    <h2 class="card-title">Home Web app</h2>
    <h3 class="card-title">{{timenow.date}}</h3>
    <p class="card-text">Demo app for custom APIs</p>
    <div class="p-2">
      <a href="/swagger" class="btn btn-primary">Swagger View OpenAPI</a>
    </div>
    <div>
      <a href="/redoc" class="btn btn-success">Redoc View OpenAPI</a>
    </div>

  </div>

</div>

{%endblock%}